*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 30px;
}
form {
    width: 100%;
    height: 50px;
    display: flex;
    column-gap: 10px;
}

input
button{
    border: 1px solid lightgray;
    border-radius: 8px;
}
input {
    width: 100%;
    padding: 20px;
    outline: none;
}

button {
    width: 100px;
    background-color: rgb(216, 161, 33);
    color: beige;
}
button:hover {
    background-color: blueviolet;
}

ul {
    list-style: none;
    margin: 20px 10px;
}

li {
    border-bottom: 11px dotted lightpink;
    padding-bottom: 7px;
    margin-bottom: 7px;
}